*app/api_key.env
*app/test/
*app/cache/
*app/__pycache__/
*app/instance/
*app/test.ipynb
*update_ec2/
vector_db*/
*.pyc
*app/api_key.env
*app/test/
*app/cache/
*app/__pycache__/
*app/instance/
*app/test.ipynb
*update_ec2/
vector_db*/
*.pyc
.gitignore
z_temp/
cache/
search_engines/
bravegemma.ipynb
instance/
a.txt